<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="./scripts/vue.js"></script>
    <link rel="stylesheet" href="css/style.css">

</head>
<body>

    <div id="app">
        <p v-if="show">شما میتوانید این پاراگراف را مشاهده کنید.</p>
        <p v-else>شما نمی توانید این پاراگراف را مشاهده کنید</p>
        <template v-if="show">
            <h3>گروه بندی قالب</h3>
            <p>این پاراگراف در یک گروه بندی قرار دارد</p>
        </template>

        <p v-show="show">آیا میتوانید ببینید؟</p>
        <button type="button" @click="show = !show">تغییر وضعیت</button>
        <hr>
        <ul>
            <li v-for="(food,i) in foods">
                {{food}} -({{i}})
            </li>
        </ul>
        <hr>
        <ul>
            <li v-for="(person,key,index) in persons">
                {{key}}:{{person.name}}-({{person.age}})-{{person.website}}
            </li>
        </ul>
        <hr>
        <template v-for="(food,index) in foods">
            <h3>{{food}}</h3><span>{{index}}</span>
        </template>
    </div>



<script src="app.js"></script>
</body>
</html>